.table{
    --bs-table-bg:#5bab7e;
    padding: 20px 20px;
    width: 1500px;
    align-items: center;
}

.container {
    margin: 0 auto; 
    width: 80%; 
}

.table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd; 
    padding: 8px; 
    text-align: left;
}
thead{
    --bs-table-bg:#49986b; 
}
.containerPorcinosInformacion{
    margin: 0 auto; 
    width: 90%; 
    margin-bottom: 15px;
}
.containerGeneration{
    margin: 0 auto; 
    width: 90%; 
    margin-bottom: 25px;
}
.containerGeneration button{
    margin-top: 5px;
}
.modalContainer{
    color: black;
}